h1 {
    text-align: center;
}

fieldset {
	border: 1px solid black;
}

#nameWageWeek {
	width: 90%;
	margin: 0px auto;
}

#dailyHours {
	width: 10%;
	margin: 0px auto;
}

#daysOfWeek {
	width: 90%;
	margin: 0px auto;
}

#employeeName, #hourlyWage, #weekNumber, #mondayHours, #tuesdayHours, #wednesdayHours, #thursdayHours, #fridayHours {
	margin-left: 2px;
	margin-right: 2px; 
}