h1 {
    text-align: center;
}

fieldset {
	border: 1px solid black;
	margin: 0px auto;
	width: 95%;
}

#nameWageWeek {
	width: 50%;
	margin: 0px auto;
}

#dailyHours {
	width: 10%;
	margin: 0px auto;
}

#daysOfWeek {
	width: 75%;
	margin: 0px auto;
}

#submit {
	display: block;
	margin: auto;
}

#hourCalculations {
	width: 25%;
	margin: 0px auto;
}

#clearCookies {
	width: 25%;
	margin: 0px auto;
}

p {
	text-align: center;
}