h1 {
    text-align: center;
}

fieldset {
	border: 1px solid black;
}

#nameWageWeek {
	width: 50%;
	margin: 0px auto;
}

#dailyHours {
	width: 50%;
	margin: 0px auto;
}

#daysOfWeek {
	width: 80%;
	margin: 0px auto;
}