.jumbotron {
	background-image: url('http://static1.squarespace.com/static/529bd419e4b0d642edda84e6/5341fd18e4b0258f115b6822/54792377e4b00f7531ca0957/1417225092293/EI1A5729-4.jpg?format=1000w');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron p {
	font-size: 25px;
	color: #000000;
	font-weight: bold;
}

.jumbotron h1 {
	font-size: 40px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
	color: #000000;
}

.jumbotron .container {
	position: relative;
	top: 100px;
}

h4{
	text-align: center;
	font-size: 35px;
}