body {
	font: 10px sans-serif;
}

h1 {		
	text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.line {
  stroke: black;
  fill: black;
  stroke-width: 2px;
}

.area {
  fill: black;
  stroke-width: 0px;
}