body {
	font: 10px sans-serif;
}

h1 {		
	text-align: center;
}

.line {
  stroke: rgb(154, 94, 32);
  fill: none;
  stroke-width: 2px;
}

.area {
	fill: rgb(154, 94, 32);
	stroke-width: 0px;
}

.line1 {
  stroke: rgb(70, 115, 73);
  fill: none;
  stroke-width: 2px;
}

.area1 {
	fill: rgb(70, 115, 73);
	stroke-width: 0px;
}

.dot {
	stroke: rgb(0, 0, 0);
}

.dot1 {
	stroke: rgb(205, 89, 107);
}