body {
	font: 10px sans-serif;
}

h1 {		
	text-align: center;
}

svg {
	display: block;
	margin: 0px auto;
}

.line {
  stroke: rgb(154, 94, 32);
  fill: none;
  stroke-width: 1px;
}

.area {
	fill: rgb(154, 94, 32);
	stroke-width: 0px;
}

.line1 {
  stroke: rgb(70, 115, 73);
  fill: none;
  stroke-width: 1px;
}

.area1 {
	fill: rgb(70, 115, 73);
	stroke-width: 0px;
}

.dot {
	fill: rgb(0, 0, 0);
}

.dot1 {
	fill: rgb(205, 89, 107);
}

div.tooltip {   
 	position: absolute;           
  	text-align: center;           
  	width: 100px;                  
  	height: 75px;                 
  	padding: 2px;             
  	font: 8px sans-serif;        
  	background: lightsteelblue;   
  	border: 0px;      
  	border-radius: 8px;           
  	pointer-events: none;         
}